
<!--<div class="container">
    <h1>New Person [template-driven form]</h1>
    <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
    <form #meuForm="ngForm" (submit)="cadastrar($event)" class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Título</label>
                <input 
                    required
                    #titulo = "ngModel" 
                    name="titulo" 
                    [(ngModel)]="foto.titulo" 
                    class="form-control"  autocomplete="off">
                <span *ngIf="titulo.invalid" class="form-control alert-danger">
                    Título obrigatório
                </span> 
            </div>
            <div class="form-group">
                <label>URL</label>
            <input name="url" [(ngModel)]="foto.url" class="form-control"  autocomplete="off">
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <textarea name="descricao" [(ngModel)]="foto.descricao" class="form-control"  autocomplete="off">
                </textarea>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="meuForm.form.invalid">
                Salvar
            </button>
                <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
            <hr>
        </div>
    </form>
</div>-->


<div>
    <mat-card>
      <mat-card-title>
        <button mat-icon-button color="accent" (click)="voltar()"><mat-icon>keyboard_backspace</mat-icon> </button>
        Cadastro
      </mat-card-title>
      
      <mat-card-content>
        <form #meuForm="ngForm" (submit)="cadastrar($event)" class="row">
            
            <input type="text" matInput
                required
                placeholder="Titulo"
                #titulo = "ngModel" 
                name="titulo" 
                [(ngModel)]="foto.titulo" 
                autocomplete="off">
            <span *ngIf="titulo.invalid" class="form-control alert-danger">
                Título obrigatório
            </span> 
          <br/>
          
          <mat-form-field color="accent" class="full-width-input">
            <input type="text"  matInput placeholder="URL" name="url" [(ngModel)]="foto.url" autocomplete="off">
          </mat-form-field>
          <br/>
          <mat-form-field color="accent" class="full-width-input">
            <input type="text" matInput placeholder="Descricao" name="descricao" [(ngModel)]="foto.descricao" autocomplete="off">
          </mat-form-field>
            
        </form>  
      </mat-card-content>
  
      <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="end">
          <button mat-fab color="primary" [disabled]="meuForm.form.invalid">
            <mat-icon>done_outline</mat-icon>
        </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>