<div class="jumbotron">
        <h2 class="text-center">Peoples</h2>
    </div>
    
    <div class="container">
        <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
        <div class="row">
            <div class="col-md-12">
                <form>
                     <div class="input-group">
                        <span class="input-group-btn">
                            <a [routerLink]="['/pessoa/cadastro']" class="btn btn-primary">
                                Nova Pessoa
                            </a>    
                        </span>
                        <!-- campo para filtrar pelo titulo -->
                        <input class="form-control" #textoProcurado (keyup)="0"  placeholder="filtrar pelo título da pessoa">
                    </div> 
                </form>
            </div> <!-- fim col-md-12 -->
        </div> <!-- fim row -->
        <br>
        <!--<div class="row">-->
            <!-- <div *ngFor="let pessoa of pessoas | filtroPorTitulo:textoProcurado.value" titulo="{{pessoa.titulo   | uppercase}}" class="col-md-2"> -->
            <div *ngFor="let pessoa of pessoas | filtroPorTitulo:textoProcurado.value" class="row">
                <div class="col-md-6">
                    <a [routerLink]="['/pessoa/cadastro', pessoa._id]">
                        <!--<pessoa titulo="{{pessoa.titulo}}" url="{{pessoa.url}}"></pessoa>-->
                        {{pessoa.titulo}}
                    </a>
                </div>
                <div class="col-md-1">2</div>
                <div class="col-md-1">3</div>
                <div class="col-md-1">
                    <a (click)="remove(pessoa)">remover</a>
                </div>
            </div>
        <!--</div> fim row -->
    </div>