    
<div class="jumbotron">
        <h1 class="text-center">Person CRUD</h1>
    </div>
    
    <div class="container">
        <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
        <div class="row">
            <div class="col-md-12">
                <form>
                     <div class="input-group">
                        <span class="input-group-btn">
                            <a [routerLink]="['/cadastro']" class="btn btn-primary">
                                Nova foto
                            </a>    
                        </span>
                        <input class="form-control" #textoProcurado (keyup)="0"  placeholder="filtrar pelo título da foto">
                    </div> 
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <painel *ngFor="let foto of fotos | filtroPorTitulo:textoProcurado.value" titulo="{{foto.titulo   | uppercase}}" class="col-md-2">
                
                <a [routerLink]="['/cadastro', foto._id]">
                    <foto titulo="{{foto.titulo}}" url="{{foto.url}}"></foto>
                </a>
                <button class="btn btn-danger btn-block" (click)="remove(foto)" >Remover</button>
            </painel>
        </div>
    </div>
    
    
    
    
    <!--
    <div>
        <mat-card>
          <mat-card-title>
            <button mat-icon-button color="accent">
                <mat-icon>keyboard_backspace</mat-icon> 
            </button>
            Title
          </mat-card-title>
          <mat-card-subtitle>SubTilte</mat-card-subtitle>
          <mat-card-content>
                <span class="input-group-btn">
                        <a [routerLink]="['/cadastro']" class="btn btn-primary">
                            Nova foto
                        </a>    
                    </span>
                    <input type="text" matInput #textoProcurado (keyup)="0"  placeholder="filtrar pelo título da foto">
          </mat-card-content>
          <mat-card-content>
            <div class="container">
              <div *ngIf="mensagem.length">
                <mat-chip-list >
                  <mat-chip color="warn" selected="true">
                      <mat-chip-avatar> 
                          <mat-icon>check_circle_outline</mat-icon>
                    </mat-chip-avatar>{{mensagem}}</mat-chip>
                </mat-chip-list>
              </div>
              <mat-list>
                <h3 mat-subheader>Lista</h3>
                <mat-list-item *ngFor=*ngFor="let foto of fotos | filtroPorTitulo:textoProcurado.value">
                    <mat-icon mat-list-icon>work_outline </mat-icon>
                    <h1>  </h1>
                    <a [routerLink]="['/cadastro', foto._id]">
                        <foto titulo="{{foto.titulo}}" url="{{foto.url}}"></foto>
                    </a>
                    <button class="btn btn-danger btn-block" mat-button color="primary"
                                (click)="remove(foto)" >Remover</button>
                    <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      -->